#real-alert {
    color: red;
    background-color: yellow;
    font-size: xx-large;
}

#test-only {
    color: darkblue;
}

.alert {
    border: 1px black double;
    box-shadow: 2px 2px gray;
    margin: 5px;
    padding: 20px;
    font-size: x-large;
}

#important {
    font-weight: bold;
    font: bolder;
    font-size: xx-large;
    color: darkred;
}